header{
	background: #2E2EFE;
	color:#fff;
}
.main{
	background:#9A2EFE;
}
.color1{
	background:#00FFFF;
	color:#fff;
}
aside{
	background: #FE2E64;
	color:#fff;
}
footer{
	background:#D8F781;
	color:#fff;
}